__pycache__/
*.pyc
*.db
*.sqlite
instance/
.env
.vscode/
data/Adresy BAkraj UTF8_09_2024.csv
data/Adresy BBkraj UTF8_09_2024.csv
data/Adresy KEkraj UTF8_09_2024.csv
data/Adresy NRkraj UTF8_09_2024.csv
data/Adresy podľa krajov UTF8_02_2025.csv
data/Adresy POkraj UTF8_09_2024.csv
data/Adresy TNkraj UTF8_09_2024.csv
data/Adresy TTkraj UTF8_09_2024.csv
data/adresyzakrajutf8.csv
